WSDL/XSD_PRISMA_DepositoSvc/prisma_depositosvc0.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:tns="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts" schemaLocation="file:///C:/Datos/OneDrive - Prisma Medios de Pago/Datos/Java\Mock_WS_ Santander/WSDL/XSD_PRISMA_DepositoSvc/prisma_depositosvc2.xml"/>
	<xs:import namespace="http://schemas.datacontract.org/2004/07/TAS.Common.ServiceContracts" schemaLocation="file:///C:/Datos/OneDrive - Prisma Medios de Pago/Datos/Java\Mock_WS_ Santander/WSDL/XSD_PRISMA_DepositoSvc/prisma_depositosvc5.xml"/>
	<xs:element name="DepositarEfectivoOCheques">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q1:DepositoSvcDepositarEfectivoOChequesRequest" xmlns:q1="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositarEfectivoOChequesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="DepositarEfectivoOChequesResult" nillable="true" type="q2:DepositoSvcDepositarEfectivoOChequesResponse" xmlns:q2="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ObtenerSaldoYDatosAdicionales">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q3:DepositoSvcObtenerSaldoYDatosAdicionalesRequest" xmlns:q3="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ObtenerSaldoYDatosAdicionalesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="ObtenerSaldoYDatosAdicionalesResult" nillable="true" type="q4:DepositoSvcObtenerSaldoYDatosAdicionalesResponse" xmlns:q4="http://schemas.datacontract.org/2004/07/TAS.Common.ServiceContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositarCupones">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q5:DepositoSvcDepositarCuponesRequest" xmlns:q5="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositarCuponesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="DepositarCuponesResult" nillable="true" type="q6:DepositoSvcDepositarCuponesResponse" xmlns:q6="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConfirmarOperacionesPorBuzon">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q7:DepositoSvcConfirmarOperacionesPorBuzonRequest" xmlns:q7="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConfirmarOperacionesPorBuzonResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="ConfirmarOperacionesPorBuzonResult" nillable="true" type="q8:DepositoSvcConfirmarOperacionesPorBuzonResponse" xmlns:q8="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositarChequesDigitalizadosConfirmacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q9:DepositoSvcDepositarDigitalizadoDeChequesConfirmacionRequest" xmlns:q9="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositarChequesDigitalizadosConfirmacionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="DepositarChequesDigitalizadosConfirmacionResult" nillable="true" type="q10:DepositoSvcDepositarDigitalizadoDeChequesConfirmacionResponse" xmlns:q10="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositarChequesDigitalizados">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q11:DepositoSvcDepositarDigitalizadoDeChequesRequest" xmlns:q11="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositarChequesDigitalizadosResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="DepositarChequesDigitalizadosResult" nillable="true" type="q12:DepositoSvcDepositarDigitalizadoDeChequesResponse" xmlns:q12="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositarEfectivoOnline">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q13:DepositoSvcDepositarEfectivoOnlineRequest" xmlns:q13="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositarEfectivoOnlineResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="DepositarEfectivoOnlineResult" nillable="true" type="q14:DepositoSvcDepositarEfectivoOnlineResponse" xmlns:q14="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConsultaDudosa">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q15:DepositoSvcConsultaDudosaRequest" xmlns:q15="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConsultaDudosaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="ConsultaDudosaResult" nillable="true" type="q16:DepositoSvcConsultaDudosaResponse" xmlns:q16="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ObtenerEmpresasCupon">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q17:DepositoSvcObtenerEmpresasCuponRequest" xmlns:q17="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ObtenerEmpresasCuponResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="ObtenerEmpresasCuponResult" nillable="true" type="q18:DepositoSvcObtenerEmpresasCuponResponse" xmlns:q18="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ObtenerTiposCupon">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q19:DepositoSvcObtenerTiposCuponRequest" xmlns:q19="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ObtenerTiposCuponResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="ObtenerTiposCuponResult" nillable="true" type="q20:DepositoSvcObtenerTiposCuponResponse" xmlns:q20="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoPagoAProveedores">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q21:DepositoPagoAProveedoresRequest" xmlns:q21="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoPagoAProveedoresResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="DepositoPagoAProveedoresResult" nillable="true" type="q22:DepositoPagoAProveedoresResponse" xmlns:q22="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoPagoAProveedoresV2">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q23:DepositoPagoAProveedoresRequest" xmlns:q23="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoPagoAProveedoresV2Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="DepositoPagoAProveedoresV2Result" nillable="true" type="q24:DepositoPagoAProveedoresResponse" xmlns:q24="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoPagoAProveedoresAnonimo">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q25:DepositoPagoAProveedoresAnonimoRequest" xmlns:q25="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoPagoAProveedoresAnonimoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="DepositoPagoAProveedoresAnonimoResult" nillable="true" type="q26:DepositoPagoAProveedoresAnonimoResponse" xmlns:q26="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoPagoAProveedoresPrisma">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q27:DepositoPagoAProveedoresPrismaRequest" xmlns:q27="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoPagoAProveedoresPrismaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="DepositoPagoAProveedoresPrismaResult" nillable="true" type="q28:DepositoPagoAProveedoresResponse" xmlns:q28="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoPagoAProveedoresAnonimoPrisma">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q29:DepositoPagoAProveedoresAnonimoPrismaRequest" xmlns:q29="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoPagoAProveedoresAnonimoPrismaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="DepositoPagoAProveedoresAnonimoPrismaResult" nillable="true" type="q30:DepositoPagoAProveedoresAnonimoResponse" xmlns:q30="http://schemas.datacontract.org/2004/07/TAS.Common.DataContracts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>